    /*--------------------------- Colors ! ---------------------------*/
    
    @media screen and (max-width: 350px) {
        body {
            margin: 0px;
            padding: 0px;
            background-color: #fdb900;
        }
        .alertText {
            margin-top: 50%;
            color: #000;
            text-align: center;
        }
        .fa-exclamation-triangle {
            font-size: 60px;
            margin: 10px;
        }
        /*--------------------------- Header code ! ---------------------------*/
        .headerlogo {
            display: none;
        }
        .headerlogologo {
            display: none;
        }
        .headerlogologoname {
            display: none;
        }
        .logo {
            display: none;
        }
        .logoname {
            display: none;
        }
        .sublogoname {
            display: none;
        }
        /*--------------------------- Nav code ! ---------------------------*/
        nav ul {
            display: none;
        }
        nav ul li {
            display: none;
        }
        nav ul li ul {
            display: none;
        }
        nav ul li:hover ul {
            display: none;
        }
        nav ul li ul li:hover {
            display: none;
        }
        /*--------------------------- article code ! ---------------------------*/
        article {
            display: none;
        }
        .welcomeIndexTextone {
            display: none;
        }
        .welcomeIndexTextTwo {
            display: none;
        }
    }
    
    @media screen and (max-width: 767px) and (min-width: 351px) {
        body {
            margin: 0px;
            padding: 0px;
            background-color: #00b4cc;
        }
        .alertText {
            display: none;
        }
        /*--------------------------- Header code ! ---------------------------*/
        .home-header {
            display: none;
        }
        .headerlogo {
            display: block;
            background-color: #343838;
            height: 80px;
            width: 100%;
            float: right;
            padding-right: 20px;
            padding: 10px;
            margin-bottom: 10px;
        }
        .headerlogologo {
            float: right;
            width: 20%;
            padding-left: 20px;
        }
        .headerlogologoname {
            width: 80px;
            padding: 0px;
            text-align: right;
            float: inline-end;
            width: 80%;
        }
        .logo {
            width: 80px;
            height: 80px;
        }
        .logoname {
            padding: 0px;
            margin: 0px;
            margin-top: 3px;
            font-size: 30px;
            color: #fff;
        }
        .sublogoname {
            padding: 0px;
            font-size: 20px;
            color: #fff;
        }
        /*--------------------------- Nav code ! ---------------------------*/
        .home-nav {
            display: none;
        }
        nav ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #333;
            position: fixed;
            bottom: 0;
            width: 100%;
            list-style: none;
        }
        nav ul li {
            text-decoration: none;
            color: #fff;
            float: right;
            display: block;
            text-align: center;
            padding-top: 15px;
            padding-bottom: 15px;
            width: 25%;
            list-style: none;
        }
        a {
            text-decoration: none;
            list-style: none;
            color: #fff;
        }
        nav ul li ul {
            display: none;
            position: absolute;
        }
        nav ul li:hover ul {
            display: block;
            position: absolute;
            margin: 0px;
            padding: 0px;
            height: 100%;
            background-color: #333;
            width: 100%;
        }
        nav ul li ul li:hover {
            background-color: #000;
            color: #fff;
            text-align: center;
            padding-top: 15px;
            padding-bottom: 15px;
        }
        /*--------------------------- article code ! ---------------------------*/
        article {
            height: 100%;
            padding: 20px;
        }
        .welcomeIndexTextone {
            text-align: right;
            color: #fff;
            font-size: 25px;
            margin-bottom: 0px;
        }
        .welcomeIndexTextTwo {
            text-align: right;
            color: #fff;
            font-size: 18px;
            margin-top: 10px;
        }
    }
    
    @media screen and (min-width: 768px) {
        /*--------------------------- Warning code ! ---------------------------*/
        .alertText {
            display: none;
        }
        /*--------------------------- Header code ! ---------------------------*/
        * {
            padding: 0px;
            margin: 0px;
            direction: rtl;
        }
        .mobile-header {
            display: none;
        }
        .headerlogo {
            display: grid;
            background-color: #343838;
            padding: 14px;
            font-size: 24px;
            margin: 0px;
            color: white;
            grid-template-columns: auto 1fr 1fr;
        }
        .headerlogologo {
            color: #ffffff;
            width: 60px;
            height: 60px;
        }
        .headerlogologoname {
            padding-top: 4px;
            color: #ffffff;
            padding-right: 14px;
        }
        .headerlogologoname h1 {
            display: inline;
            font-size: 18px;
        }
        /*--------------------------- Nav code ! ---------------------------*/
        .mobile-nav {
            display: none;
        }
        .home-nav a {
            text-decoration: none;
            color: #fff;
        }
        .home-nav {
            padding-top: 14px;
        }
        /*--------------------------- article code ! ---------------------------*/
        article {
            padding: 14px;
        }
    }